*.pdf
*.png
*.svg
za*
*mask*
*.npy
*ipynb_check*
precal*
*.csv
heat_adj
*.nc
*pycache*
*download*
*many*
plot_position*
quickplot.py
heat_map.ipynb
budgetheat*
NEPBackward*
plot_adj*
heat_line*
atmo*
*keep_count*
